body{
    background-image: url(../images/backgroundfix.png);
    background-size: cover;
}
 /* header */
#logo{
    margin-top: 10px;
    max-width: 160px;
    margin-left: 19px;
}

/* section */
#text{
    margin-top: 100px;
    margin-left: 150px;
}

h5#judul{
    font-family: Miriam libre;
    font-size: 36px;
    color: #009CC6;
}

span#cred{
    font-family: dancing script;
    color: black;
}

.input-name{
    width: 80%;
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 22%;
    font-family: Poppins;
    font-size: 14px;
}
.input-bg{
    border: 0px;
    width: 260px;
}

.btn2{
    width: 25%;
    color: white;
    border: 1px solid  #009CC6;
    background-color: #009CC6;
    font-size: 14px;
    font-family: segoe ui;
    margin-left: 22%;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 14px;
}

.btn2:hover{
    opacity: 0.8;
}
.btn2:active{
    background: white;
}
.size-img{
    width: 25px;
    height: 25px;
}
#side-image{
    width: 580px;
    height: 580px;
    margin-left: 30px;
}
