.ui-content{
    height: 630px;
    margin-top: 20px;
    margin-right: 100px; 
    margin-left: 100px; 
    background-image: url(../images/BgCircle.png); 
    background-size: cover; 
    border-radius: 20px;
}

#close{
    width: 40px; 
    height: 40px; 
    margin-left: 95%;
}

.isi-out{
    margin-left: 20px;
}

#buka{
    top: 174;
    left: 368;
    z-index: 99999;
    width: 640px;
    height: 360px;
}

.pop-up{
    top: 0; 
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(33,56,62,0.6);
}
#logo{
    margin-top: 5px;
    width: 100px;
    height: 40px;
}

.output-card{
    background-image: url(../images/outbg.png);
    border-style: solid;
    background-color: white;
    background-size: cover;
    width: 640px;
    height: 360px;
    margin-left: 23%;
    margin-top: 20px;
}

#heading{
    text-align: left;
    font-family: poppins;
    font-size: 18px;
    font-weight: bold;
}
h5#id-card{
    margin-left: 190px;
    margin-top: -20px;
}
.alamat{  
    margin-top: -8px;
    margin-left: 190px;
    font-family: roboto;
    font-size: 12px;
}

.featurette-divider{
    width: 68%;
    margin-top: -13px;
    margin-left: 187px;
    background-color: black;
}

.row2{
    margin-top: -5px;
    margin-left: 90px;
    font-family: poppins;
}

p{
    font-family: poppins;
    font-size: 14px;
}

footer{
    text-align: right;
    margin-top: -27px;
}

.font-blue{
    color: blue;
}

#DataLink{
    font-size: 2px;
    margin-left: 105px;
}

#DataProjek{
    margin-left: 105px;
}  

#whatssap, #gmail{
    font-size: 12px;
    margin-left: 50px;
    margin-top: 10px;    
}

#picwa{
    font-size: 12px;
    margin-left: 200px;
    width: 20px;
    height: 15px;
}

#picgmail{
    font-size: 12px;
    width: 20px;
    height: 15px;
}

